*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --white-color:#fff;
  --light-dark:#27292a;
  --primary-color:#E75E8D;
}
.hero-main{
  background-color: var( --light-dark);
  background-image: url("../../assets/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  color: var( --white-color);
  padding:80px 40px;
  width: 95%;
  margin: auto;
}
.hero-text .hero-title{
 font-size: 50px;
 text-transform: uppercase;
 margin-bottom: 25px;
 font-weight: 700;
 margin-top: 20px;
}
.hero-subtitle {
  font-size: 18px;
  text-transform: capitalize;
}
.heroBtn{
  color: var(--white-color);
  background-color:var(--primary-color) ;
  padding:10px 25px ;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 20px !important;
}
.hero-span{
  color: var(--primary-color);
}

@media screen and (max-width:1000px) {
  .hero-text .hero-title{
    font-size: 50px;
  }
}